[git]
conventional_commits = true
filter_unconventional = false
require_conventional = false
fail_on_unmatched_commit = false
tag_pattern = "v[0-9].*"
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^doc", group = "Documentation" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactor" },
  { message = "^style", group = "Styling" },
  { message = "^test", group = "Testing" },
  { message = ".*", group = "Other" },
]
